header {
    background-color: #E3DC95;
    padding: 10px;
    border-radius: 7%;
}

.greeting {
    font-size:20px;
    float: none;
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #A6A867;
    border-radius: 10%;
    text-align: center;
}

a {
    color: #1B2021;
}

body {
    background-color: #E3DCC2;
    color: #1B2021;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 5px solid #51513D;
    width: 85%;
}

p {
    margin-left: 20px;
    float: left;
    width: 44%;
    font-size: 25px;
}

#side {
    margin-left: 7%;
    width: 44%;
}

footer {
    background-color: #E3DC95;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    text-align: center;
}